.btn{
  border: none;
  background: transparent;
  font-size: 1.1rem;
  color: #fb8f1d;
  border: 2px solid #fb8f1d;
  border-radius: 5px;
  width: 100px;
  height: 28px;
  margin-left: 19px;
}

.btn:hover{
  background-color: #fb8f1d;
  color: white;
}