.btn{
  background: transparent;
    font-size: 15px;
    color: #fb8f1d;
    border: 2px solid #fb8f1d;
    border-radius: 5px;
    width: 95px;
    height: 28px;
    margin-left: 19px;
}

.btn:hover{
  background-color: #fb8f1d;
  color: white;
}