 .card{
 /* width: 1403px; */
  /* height: 1581px;  */
/* left: 101px; */
top: 700px;
margin-left: 128px;
margin-right: 177px;
display: flex;
/* display: flex; */
/* text-align: row; */
background: #746e6e;
} 
.cardone{
    
    width: 1252px;
    height: 173px;
    left: 197px;
    top: 983px;
    margin-top: 22px;
    margin-left: 75px;
    background: #FFFFFF;
}
.image1 img{
    width: 191px;
    height: 164px;
    padding:8px;
    margin-top: 3px;
    margin-left: 9px;
}
.Cardcontent{
    margin-left: 216px;
    margin-top: -140px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding:8px;
    width:80%;
}
.Cardcontent span{
    font-size: bold;
text-align: center;
width: 821px;
height: 123px;
left: 214px;
top: 1404px;
/* box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25); */

}

.btn{  
    position: absolute;
    text-decoration: none;
    border:#fff;
    outline: none;
    color: #fff;
    font-weight: 200;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 21px;
    margin-left: 275px;
    background:rgb(4, 78, 17)
}
.button{
    position: absolute;
    text-decoration: none;
    border: #fff;
    outline: none;
    color: #fff;
    font-weight: 200;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 21px;
    margin-left: 410px;
    background:rgb(250, 121, 0)

}
